nav{
	height: 150px;
	
}


.btn-large{
	width: 350px;
}

#current_conditions{
	/* background-color: lightgray; */
	height: 300px;
	border: solid gray 1px;
}

#five_day_container{
	/* background-color: gray; */
	height: 300px;
	width: 1100px;
	border: solid gray 1px;
	text-align: center;
}
h4{
	
}